@model UserUpdateViewModel

@{
    ViewData["Title"] = "WriterEditProfile";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}
<!--************************ Burası Yazar Profili Düzenleme Tasarım Sayfası - Writer Controller **************************-->

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2> Profilim </h2>
                <h6> Profil bilgilerini güncelleme sayfası </h6>
                <br />
                    <form class="forms-sample" method="post">

                        <div class="form-group">
                            <label for="exampleInputName1"> Adı Soyadı </label>
                            <input type="text" asp-for="@Model.namesurname" class="form-control" />
                            @*@Html.TextBoxFor(x => x.namesurname, new { @class = "form-control" })*@
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4"> Kullanıcı Adı </label>
                            <input type="text" asp-for="@Model.username" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4"> Yeni Parola </label>
                            <input type="password" asp-for="@Model.password" class="form-control" title="Parola, en az bir sayı, bir büyük harf ve 6 karakterli olmalı." />
                            <input type="checkbox" id="password_check" asp-for="@Model.password_check" />
                            <label for="password_check"> Parola değişikliğini onaylıyorum </label>
                            <span class="text-danger" asp-validation-for="@Model.password_check"></span>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputPassword4"> Resim Yolu </label>
                            <input type="text" asp-for="@Model.image" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label> Profil Resmi </label>
                            <div class="input-group col-xs-12">
                                <input type="file" name="İmage" class="btn btn-info" />
                            </div>

                        </div>

                        @*<div class="form-group">
                                <label for="exampleTextarea1"> Hakkında </label>
                                @Html.TextAreaFor(x => x.About, 10, 5, new { @class = "form-control", @placeholder="Okurlarınıza Kendinizden Kısaca Bahsedin..." })
                                @Html.ValidationMessageFor(x => x.About, "", new { @class = "text-danger" })
                            </div>*@
                        <br />
                        <button type="submit" class="btn btn-success m-md-2"> Güncelle </button>
                        <button class="btn btn-light m-md-2" asp-action="BlogListByWriter" asp-controller="Blog"> Vazgeç </button>

                    </form>
                
            </div>
        </div>
    </div>
</div>