
<!----************************** Burası Yazar Panelinde yer alan Mesajların Detay Sayfası **************************---->
@model EntityLayer.Concreate.Message2

@{
    ViewData["Title"] = "MessageDetails";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<div class="content-wrapper">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h2> Mesaj Detayları </h2>
                <br />
                @using (Html.BeginForm("Inbox", "Message"))
                {
                    @Html.HiddenFor(x => x.ID, new { @class = "form-control" })

                    @Html.Label("Gönderen Yazar")
                    @Html.TextBoxFor(x => x.SenderWriter.Name, new { @class = "form-control", disabled = "disabled" })
                    <br />
                    @Html.Label("Mesaj Konusu")
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control", disabled = "disabled" })
                    <br />
                    @Html.Label("Mesaj İçeriği")
                    @Html.TextAreaFor(x => x.MessageDetails, 10, 3, new { @class = "form-control", disabled = "disabled" })
                    <br />

                    <a href="/Message/Inbox"><button class="btn btn-light mb-2"> Mesajlara Dön </button></a>
                }
            </div>
        </div>
    </div>
</div>