@model EntityLayer.Concreate.Message2
<!------****************************** Burası Yazar Panelinde Mesaj Gönderme View Sayfası *********************************------>

@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}


<div class="content-wrapper">
    <div class="card">
        <div class="card-body">

            <h2>Yeni Mesaj Yaz</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"> Gelen Kutusu </li>
                    <li class="breadcrumb-item active"> Yeni Mesaj Yaz </li>
                </ol>
            </nav>
            <br />
            <div class="table-responsive">
                @using (Html.BeginForm("SendMessage", "Message", FormMethod.Post))
                {
                    <label class="col-sm-2 col-form-label"> Bir Alıcı Seçin: </label>
                    @Html.DropDownListFor(x => x.ReceiverID, (List<SelectListItem>)ViewBag.ReceiverUser, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.ReceiverID, "", new { @class = "text-danger" })
                    <br />
                    <label class="col-sm-2 col-form-label"> Konu: </label>
                    @Html.TextBoxFor(x => x.Subject, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.Subject, "", new { @class = "text-danger" })
                    <br />
                    <label class="col-sm-2 col-form-label"> Mesajınız: </label>
                    @Html.TextAreaFor(x => x.MessageDetails, 8, 5, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.MessageDetails, "", new { @class = "text-danger" })
                    <br />
                    <br />
                    <button href="/Message/SendMessage/" type="submit" class="btn btn-success"> Gönder </button>
                    <a href="/Message/Inbox/" class="btn btn-light"> Vazgeç </a>
                }
            </div>
        </div>
    </div>
</div>