
<!-------------------************************** Burası Admin Paneli içinde İstatistik Paneli birinci View Sayfası **************************-------------------->

<div class="row">
    <div class="col-lg-3">
        <div class="widget style1">
            <div class="row">
                <div class="col-4 text-center">
                    <i class="fa fa-trophy fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Blog </span>
                    <h2 class="font-bold"> @ViewBag.chart1 </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-cloud fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> @ViewBag.city </span>
                    <h2 class="font-bold"> @ViewBag.weather'C</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 lazur-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-envelope-o fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Toplam Mesaj </span>
                    <h2 class="font-bold"> @ViewBag.chart2 </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget style1 yellow-bg">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-star fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> Kayıtlı Yazarlar </span>
                    <h2 class="font-bold"> @ViewBag.chart3 </h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">İstatistikler</h1>
                <h3 class="font-bold no-margins"> Asp.Net Core 5.0 </h3>
                <p> Projemizin bu panelinde Area yapısı üzerinden Admin için gerçek zamanlı istatistikler yazmaktadır. </p>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Son Blog</h1>
                <h3 class="font-bold no-margins">
                    @ViewBag.chart4
                </h3>
                <p> Yazar tarafından son eklenen blog</p>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart2"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget yellw-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">2300 TL</h1>
                <h3 class="font-bold no-margins">
                    Blog Site Kazancı
                </h3>
                <p> Reklamlar, Anlaşmalar, Sponsorluklar, Promosyonlar</p>
            </div>
        </div>
    </div>
</div>