
@model EntityLayer.Concreate.Category

@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<!------********************************** Burası Admin panelinde Yeni Kategori ekleme sayfası **************************************------>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2> Kategori Ekle </h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a> Dashboard </a>
            </li>
            <li class="breadcrumb-item">
                <a> Kategoriler </a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Kategori Ekle </strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<br />
<div class="ibox">
    <div class="ibox-title">
        <h3>Yeni Kategori Ekle</h3>
    </div>

    <div class="ibox-content">

        <form method="post">
            <label> Kategori Adı </label>
            <input type="text" class="form-control" asp-for="@Model.Name" />
            @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
            <br />
            <label> Kategori Açıklaması </label>
            <textarea asp-for="@Model.Description" class="form-control" rows="5" cols="5"></textarea>
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })

            <br /><br />
            <a href="/Admin/Category/Index" class="btn btn-white btn-xl"> İptal </a>
            <button class="btn btn-primary btn-xl"><i class="fa fa-save"></i>&nbsp; Kaydet </button>
        </form>

    </div>
</div>




@*@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
    {
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
        <br />
        <br />
        @Html.Label("Kategori Açıklaması")
        @Html.TextAreaFor(x => x.Description, 5, 5, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
        <br />
        <br />
        <a href="/Admin/Category/Index" class="btn btn-white btn-xl"> İptal </a>
        <button class="btn btn-primary btn-xl"><i class="fa fa-save"></i>&nbsp; Kaydet </button>
    }*@