
<!--------------************************* Burası Admin Paneli içinde İstatistik Paneli ikinci View Sayfası ************************--------------->

<div class="row">
    <div class="col-lg-4">
        <div class="widget-head-color-box navy-bg p-lg text-center">
            <div class="m-b-md">
                <h2 class="font-bold no-margins">
                    @ViewBag.v1
                </h2>
                <small>Blogster Yöneticisi - Kurucu</small>
            </div>
            <img src="@ViewBag.v2" class="rounded-circle circle-border m-b-md" alt="profile">
            <div>
                <span>100 Tweet</span> |
                <span>350 Takip Edilen</span> |
                <span>400 Takipçi</span>
            </div>
        </div>
        <div class="widget-text-box">
            <h4 class="media-heading"> @ViewBag.v1 </h4>
            <p> @ViewBag.v3 </p>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="widget p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-shield fa-4x"></i>
                <h1 class="m-xs"> 2240 </h1>
                <h3 class="font-bold no-margins"> Trafik Kaynağı Sonuçları </h3>
            </div>
        </div>
        <div class="widget p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-flash fa-4x"></i>
                <h1 class="m-xs"> 573 </h1>
                <h3 class="font-bold no-margins"> Arama Sonuçları </h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="widget lazur-bg p-xl">
            <h2> @ViewBag.v1 </h2>
            <ul class="list-unstyled m-t-md">
                <li>
                    <span class="fa fa-envelope m-r-xs"></span>
                    <label> E-posta: onat.somer2018@gmail.com </label>
                </li>
                <li>
                    <span class="fa fa-home m-r-xs"></span>
                    <label> Adres: Eskişehir, Türkiye </label>
                </li>
                <li>
                    <span class="fa fa-phone m-r-xs"></span>
                    <label> İletişim: 0505 333 2222 </label>
                </li>
                <li>
                    <span class="fa fa-link m-r-xs"></span>
                    <label> Web Site: https://onatsomer.com | https://linktr.ee/onatt2645 </label>
                </li>
            </ul>
        </div>

        <div class="widget red-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-bell fa-4x"></i>
                <h1 class="m-xs"> 30 </h1>
                <h3 class="font-bold no-margins"> Bildirim Sayısı </h3>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-thumbs-up fa-4x"></i>
                <h1 class="m-xs"> 40 </h1>
                <h3 class="font-bold no-margins"> Beğeni Sayısı </h3>
            </div>
        </div>
        <div class="widget yellow-bg p-lg text-center">
            <div class="m-b-md">
                <i class="fa fa-warning fa-4x"></i>
                <h1 class="m-xs"> 3 </h1>
                <h3 class="font-bold no-margins"> Alarm </h3>
            </div>
        </div>
    </div>

</div>