@using EntityLayer.Concreate;
@model List<Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

                         <!--*** Blog İndex ve Blog Listesinde üç sütun halinde görüntülenmesi ***-->

    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">Blog Listesi</h3>
            <div class="inner-sec">
                <!--left-->
                <div class="left-blog-info-w3layouts-agileits text-left">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 card">
                                <img src="@item.ThumbnailImage" class="card-img-top img-fluid" alt="">
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <!---- Blog içerikleri foreach döngüsüyle veritabanında kaç tane blog varsa sayfa da o içerikli ve o kadar blog gönderisi oluşuyor ---->
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @item.CreateDate.ToShortDateString()  <!-- Veritabanından çekilen oluşturulma tarihi -->
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"> 0 </i> <!-- Bloğa yapılan yorum sayısı --->
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-info"></i> @item.Category.Name  <!--- Veritabanından çekilen kategori adı --->
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title">
                                    <a href="/Blog/BlogDetails/@item.BlogID">@item.Title</a>
                                </h5>
                                @*<p class="card-text mb-3">@(item.Content.Length < 120 ? item.Content : item.Content.Substring(0, item.Content.Substring(0,120).LastIndexOf(" "))) ...</p>*@
                                <p class="card-text mb-3">@(item.Content.Length < 120 ? item.Content : item.Content.Substring(0, item.Content.Substring(0, 120).LastIndexOf(" ")))...</p>
                                <a href="/Blog/BlogDetails/@item.BlogID" class="btn btn-primary btn-block read-m">Devamını Oku</a>
                            </div>
                            <br />
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>