
@using EntityLayer.Concreate
@model List<Blog>

                           <!--***************** Yazar Dashboard Sayfasında "Yayınlanan Son Bloglar" View Component Bölümü ********************-->

    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title"> Yayınlanan Son 15 Blog </h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th> No </th>
                                    <th> Başlık </th>
                                    <th> Yazar </th>
                                    <th> Kategori </th>
                                    <th> Oluşturma Tarihi </th>
                                    <th> İşlemler </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th>
                                            @item.BlogID
                                        </th>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            @item.Auth
                                        </td>
                                        <td>
                                            <label class="badge badge-info"> @item.Category.Name </label>
                                        </td>
                                        <td> @item.CreateDate.ToShortDateString() </td>
                                        <td>
                                            <a class="btn-sm btn btn-link" href="/Blog/BlogDetails/@item.BlogID" target="_blank">Detaylı Gör</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>